<h1 class="post-title"><%= @post.title.titleize %></h1>
<p><%= @post.body %></p>
<p>Category: <%= @post.category.name if @post.category%></p>

<div>
  <% if can? :manage, @post %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>

<div class="new-comment">
  <h2>Add a New Comment</h2>
  <%= form_for [@post, @comment] do |f| %>
    <div>
      <%= f.text_area :body %>
    </div>
    <%= f.submit "Submit Comment" %>
  <% end %>
</div>

<% @post.new_first_comments.reverse.each do |com| %>
  <div class="comment-box">
    <p><em><%= com.user.first_name %> commented on <%= format_time(com.created_at) %></em></p>
    <%= com.body %>
    <div>
      <%#= link_to "x", post_path(@comment), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>
