<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <style>
    .nav_bar {
      font-family: Oxygen;
    }
  </style>
  <title>Fantasy Corner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <%= render "/layouts/navbar" %>
  </div>

  <div class="container">
    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
